/* Style für Flipcard */

/* position:absolut nimmt den Block aus dem
    HTML Fluß */


* {
    box-sizing: border-box;
}

.card_box {
    perspective: 1000;
    height: 200px;
    width: 300px;
    margin-top: 200px;
    margin-left: 750px;
}

.front {
    height: 200px;
    width: 300px;
    background-color: tomato;
    z-index: 2;
}

.back {
    height: 200px;
    width: 300px;
    background-color: thistle;
    z-index: 1;
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    box-shadow: 4px 4px 6px;
}

.card_box:hover .turnaround {
    transform: rotateY(180deg);
}

.turnaround {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
}    

h1 {
    text-align: center;
    margin-top: 60px;
    text-decoration: underline;
}

.adress {
    margin-left: 60px;
    margin-top: 50px;
}
