/* Style für Flipcard */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_box {
    perspective: 1000;
    padding-top: 80px;
    width: 350px;
    margin: auto;
    text-align: center;
}

.front {
    padding: 70px 100px;
    width: 300px;
    background-color: tomato;
    z-index: 2;
}

.back {
    padding: 70px 50px;
    width: 300px;
    background-color: thistle;
    z-index: 1;
    transform: rotateY(180deg);
}

.front .back {
    backface-visibility: hidden;
    position: absolute;
    box-shadow: 4px 4px 6px;
}

.card_box:hover .turnaround {
    transform: rotateY(180deg);
}

.turnaround {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
}  

h1 {
    font-size: 1.5rem;
}


